@charset "utf-8";

/* CSS Document */
.wrapfla {width: 936px;margin: 0 auto;padding: 25px 20px 20px;overflow: hidden;background: #fff;}
.wrapped{background:#f4f4f4;overflow: hidden;margin-top:98px;width:100%;}
.inv-hall01 { width:702px;  }
.inv-hall-t { height:32px;  float:left; width:702px;  background: url(../../Images/box01.gif) repeat-x;}
.inv-hall-list { width:630px; float:left; }
.inv-hall-list li{ display:inline; float:left;}
.inv-hall-list span { cursor:pointer; padding:0px 10px; border-right:1px solid #ddd; float:left; display:block; font-size:14px; line-height:32px; color:#000; }
.inv-hall-list span:hover { text-decoration:none; background:#555; color:#fff;}
.inv-hall01a {color:#3358a2; line-height:32px; display:block;  font-size:14px; width:60px;} 
#inv-hall-list01{ background:#fff; color:#a51111; font-weight:bold;border-top: 3px solid #a51111;line-height: 29px;}
.inv-hall02 {border-bottom:1px solid #d2d2d2;  width:702px; height:40px; padding-top:10px; font-weight:bold; color:#111;}
.inv-hall02 li { display:block; float:left; font-size:12px;}
.inv-hall03 {border-bottom:1px solid #d2d2d2; float:left; width:702px;}
.inv-hall03:hover { background:#f5f5f5;}
.inv-hall03b { background:#f3f3f3; }
.first {float:left;width:150px;height:55px; background:red;}
.second {float:left;width:100px;height:55px; background:blue;}
.third{float:left;width:105px;height:55px; background:green;}
.four{float:left;width:120px;height:55px; background:black;}
.five{float:left;width:70px;height:55px; background:orange;}
.inv-hall03 li { display:block; border-bottom:1px solid #e9e9e9; height:78px;}
.inv-hall03a {-moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;border: #f6f6f6 solid 5px; margin:5px 5px 5px 10px; width:61px; height:61px; display:block;}
.inv-hall03a01 { width:162px; padding-left:8px; padding-right:10px; overflow:hidden;}
.inv-hall03a02 { width:120px; font-size:14px; color:#000;line-height:28px;}
.inv-hall03a03 { width:90px; padding-right:10px; font-size:14px; color:#000;line-height:28px;}
.inv-hall03a04 { width:126px; font-size:14px; color:#000;line-height:28px;}
.inv-hall03a04 img { float:left; display:block; padding:7px 0px;}
.inv-hall03a05 { overflow:hidden; font-size:14px; color:#000; width:85px;}
.inv-hall03a-1 { width:172px; color:#3358a2; font-size:14px;overflow: hidden;height: 25px;font-weight: bold; }
.inv-hall03a-2 { font-size:14px; color: #3358a2; padding-right:3px;line-height:28px;}
#inv-hall03a-4 { float:left; margin-top:10px; line-height:30px; }
#inv-hall03a-4 span{ color:#ee6327;}
.inv-hall03a-5 { margin: 5px 5px -2px 0px;}
.inv-hall03a-6 { margin-top:5px;}
.inv-hall03t { float:left; width:86px; overflow:hidden; position:relative;}
.inv-hall03t1 { position:absolute; z-index:50; width:14px; height:16px; background:url(../../Images/invest/201308271.png) no-repeat 0 0; top:4px; right:4px; }
.inv-hall03t2 { position:absolute; z-index:50; width:17px; height:16px; background:url(../../Images/invest/gudong.gif) no-repeat 0 0; top:4px; right:4px; }
.inv-hall03t3 { margin-bottom:-2px; margin-right:2px;}
.inv-hall-r { width:210px;}
.inv-hall04f {width:210px; color:#000;}
.inv-hall04 { width:210px; color:#000;}
.inv-hall04a { padding:10px 0px 10px 5px; width:190px; }
.inv-hall04b { width:200px; margin-bottom:5px;}
.inv-hall04b p{ float:left; font-size:14px;}
.inv-hall04c { font-size:12px; margin:5px 0px; width:200px;}
.inv-hall04c p { border: 1px solid #e7ecf0;background:#f2f2f2; display:block; width:15px; height:15px; line-height:15px; text-align:center; float:left; margin-left:5px;}
.inv-hall04c span{color:#ee6327; padding-right:5px;}
.inv-hall04c img {margin:0px 5px -2px 5px;}
.inv-hall04d { line-height:10px; border-top:1px #dfdfdf dashed; width:190px; margin-top:10px; }
.inv-hall04e a{ padding-left: 10px; color:#3358a2; float:left; display:block; width:150px;  font-size:12px;}
.inv-hall05a { padding:10px; width:190px; font-size:14px;}
.inv-hall05b { padding:0px 0px 10px; float:left; width:100%;}
.inv-hall05b p{ float:left; width:60px; display:block;}
.inv-hall05b select { float:left; height:26px; width: 125px; font-size:12px;}
.inv-hall05b input {float: left; width: 120px;}
.inv-hall05d { width:60px; height:25px; padding:0;display:inline;cursor: pointer;border: none; background:url(../../Images/account/service/service32.png) no-repeat 0px -340px;}
.inv-hall05d:hover {background:url(../../Images/account/service/service32.png) no-repeat 0px -370px;}
.inv-hall05e { padding:8px 0px 0px 10px; width:30px;}
.inv-hall05f {padding: 0px 0px 0px 56px; }
.inv-hall05g { display:none;}/* 搜索融资标隐藏div*/
.inv-hall06 { float:left; padding:15px; }
.inv-hall06 li { float:left; display:block; width:166px; background:url(../../Images/point.gif) no-repeat left center; padding-left:15px; text-overflow: ellipsis; overflow: hidden; white-space:nowrap;}
.inv-hall06 li a { line-height:26px; font-size:14px;}
.inv-hall07 { width:210px; float:left;}
.inv-hall08{ width: 112px; height:16px; float:left; margin:6px 0px 7px;}
.inv-hall09 { float:left; width:100%;}
.inv-hall03a-4 { padding-top:12px;padding-bottom:12px;line-height:22px;}
.inv-ha10 { display:block; padding:7px 0px 0px 2px;}
.inv-hall03c { margin-bottom:-2px; margin-left:2px;}
