@charset "utf-8";
/* CSS Document */
body{ background:#f8f8f8;}
.wrapfl {
	position:relative;
}
.ra-ap { width:946px; padding:20px 0px 10px 30px; overflow:hidden; float:left;}
.ra-ap span { font-weight:bold;}
.ra-ap dt { width:946px; float:left; font-size:16px; font-weight:bold;}
.ra-ap dd { float:left; width:224px; line-height:30px; color:#222; font-size:14px;}
.ra-ap1 { float:left; width:946px; padding:0px 0px 20px 20px;}
.ra-ap1 img { float:left; padding-right:20px;}
.ra-ap2 { float:left; width:860px;padding:0px 0 0px 55px;}
.ra-ap2 li { display: inline-block;width: 100%; float:left; }
.ra-ap2 p { float:left;  font-size:14px; color:#000;}
.ra-ap3 { float:left; width:458px; overflow:hidden; padding-bottom:20px; position:relative; z-index:1;}
.ra-ap3 label { clear:both;}
.ra-ap2 select{ float:left; height:22px;font-size:12px; }
.ra-ap4 { width:130px; *-width:120px; margin-right:10px; }
.ra-ap5 { width:140px; margin-right:10px; }
.ra-ap6 { width:167px;}
.ra-ap7 {  width:447px; height:25px; line-height:25px; font-size:12px;padding-left:5px; *-width:440px;}
.ra-ap8 { width:445px; height:80px; border:1px solid #abadb3; padding:5px 5px 15px; background: no-repeat right bottom;}
.ra-ap9  { float:left; font-size:14px; padding-right:15px; line-height:25px; letter-spacing:0.2em; font-weight:100;}
.ra-ap10 { float:left; padding:0px; width:130px; height:30px; font-size:14px;}
.ra-ap11 { float:left; padding:7px 0px 2px 5px;}
.ra-ap12 { float:left; width:90px; height:25px; line-height:25px; padding-left:5px;}
.ra-ap13 { float:left; font-weight:100; font-size:14px;}
.ra-ap13 a{ font-size:14px; margin:0 2px;}
.ra-ap14 { float:left; margin:5px 5px 0px 0px; *-margin-top:-1px;}
.ra-ap15 { float:left; padding:0px; width:150px; font-size:16px; height:35px; margin-top:15px; clear:both;}
.ra-ap16 { float:left; padding:30px 0px 40px 20px;}
.ra-ap17 { float:left; width:110px; background:url(../../Images/rmb.gif) no-repeat 95px -27px;}
.ra-ap18 { float:right; width:200px; padding:12px; background:#fff; border:1px solid #e2e2e2; margin-right:20px;}
.ra-ap18 h4 { font-size:16px; font-weight:bold; color:#444; line-height:24px; padding-bottom:10px; padding-top:10px;}
.ra-ap18 p { font-size:14px; color:#444; line-height:24px; padding-bottom:10px;}
.ra-ap19 { text-indent:2em;}
.ra-ap20 {
	border-top:1px dashed #d1d1d1;
	margin-top: 10px;
	padding: 15px 0;
}
.ra-ap20 .font1 {
	float: right;
	font-size: 12px;
	color: #999;
}
.ra-ap20 .font2 {
	float: left;
	font-size: 14px;
	color: #999;
}
.ra-ap20 .font2 b {
	font-weight: normal;
	font-size: 16px;
	color: #444;
}

.acc-cw12.acc-cw12b { position: absolute; top:200px; right:0; width:220px; padding-left:0px;}
.acc-cw12 ul {padding-left:10px;}
.acc-cw12 li { display:inline; float:left; width:188px; text-align:center; height:35px; line-height:35px;}
.acc-cw12a { margin-left:40px;}
.acc-cw12 li img { margin-bottom:-6px;}
.acc-cw12 span{ font-size:20px; color:#5479c2; padding-left:10px; }
.t4-mafnd {float: left;padding-left: 120px;}
.ra-project { padding:20px; background:#fff; overflow:hidden;}
.ra-project2 { text-align:center; font-size:16px; color:#eb6c30; padding:20px 0;}
.ra-project2 a { font-size:14px; margin-left:15px;}
.ra-project3 { padding:20px 0;}
.ra-project3 .ra-project6 { float:left; width:220px; height:240px; text-align: center;}
.ra-project3 div span { display:inline-block; }
.ra-project3 div span img { display:inline-block; height:200px;}
.ra-project3 div p { font-size:14px; padding-top:10px; line-height:18px;}
.ra-project4 { padding:10px 0;}
.ra-project4 li { font-size:14px; line-height:20px; padding:7px 0; clear:both;}
.ra-project4 li font { float:left; display:inline-block; font-size:14px; width:125px; text-align:right; padding-right:10px;}
.ra-project4 li span {display: inline-block;}
.ra-project4 .inp-b { padding-left:5px; width:180px; height:28px; margin-right:5px; font-size:14px; line-height:26px;}
.ra-project4 b { font-weight:normal; color:#666;}
.ra-project5 { margin-left:135px;}
.ra-project5 p { font-size:14px; line-height:18px; padding:20px 0;}
.ra-project5 p a { margin:0 5px; color:#2454b6; font-size:14px;}
.ra-project5 div .button02 {display: inline-block; font-size:15px; margin-right:10px; padding:5px 20px;}
.ra-project3 div span { border:1px solid #d1d1d1;  border-radius: 5px;}
a.image_gall{
	border:4px solid #fff;
	background:#fff;
	display:block;
		
}
#popImage_cache img{
	border:4px solid #fff;
	background:#fff;
	display:block;
	padding:4px;
	position:absolute;
	cursor:pointer;
	z-index:9999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 45px #888;
	-webkit-box-shadow: 0 0 45px #888;
	box-shadow: 0 0 45px #888;
}
.popImage_close{
	background:url(/Public/Images/closeb.png) center no-repeat;
	position:absolute;
	height:40px;
	width:40px;
	z-index:9999;
	cursor:pointer;
	display:none;
}

.ra-gxd { float:left; width:670px;}
.uploadpic{ width:100px; height:auto; overflow:hidden; float:left; display:block; border:solid #CCC 1px; margin:3px; cursor:pointer}
.needinput{ border:solid #F00 1px;}
.wrapfl select{text-align: center;}

